 {"openapi":"3.0.3","info":{"title":"INTAQALAB - Planning API","description":"API para la gestión de la planificación técnica, estructura operativa, municiones y recursos de las pruebas de fuego.","version":"1.3.0"},"servers":[{"url":"https://apis.des.inta.es/intaqalab/planning-api/1.3.0"},{"url":"http://apis.des.inta.es/intaqalab/planning-api/1.3.0"}],"security":[{"default":[]}],"tags":[{"name":"Planning","description":"Gestión de la estructura operativa (Series y Disparos) y condiciones físicas (Shoots Module)."},{"name":"Munitions","description":"Gestión de configuraciones de munición, componentes y acondicionamiento (Munitions Module)."},{"name":"Armament","description":"Asignación de armamento y tubos (Resources Module)."},{"name":"Measures","description":"Selección de magnitudes y registros del catálogo (Resources Module)."},{"name":"Planning Lifecycle","description":"Validación y orquestación de la planificación (Fire Trials Service)."},{"name":"STANAG","description":"Gestión de criterios STANAG para la ejecución de pruebas."}],"paths":{"/centers/{centerId}/fire-trials/{fireTrialId}/planning/info":{"get":{"tags":["Planning"],"summary":"Obtener planificación","description":"Devuelve los datos generales de la planificación.","operationId":"getPlanningInfo","responses":{"200":{"description":"Planificación recuperada con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanningResponse"}}}},"404":{"description":"Planificación no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"put":{"tags":["Planning"],"summary":"Actualizar planificación","description":"Actualiza los datos generales de la planificación (objeto, espécimen, fechas, etc.). Incluye el campo opcional `RatingCriteria` para la calificación de munición (aplicable a pruebas de tipo 'Vigilancia').","operationId":"updatePlanningInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanningRequest"}}},"required":true},"responses":{"200":{"description":"Planificación actualizada con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanningResponse"}}}},"400":{"description":"Datos de planificación inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Planificación no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/series":{"get":{"tags":["Planning"],"summary":"Listar series de la prueba","description":"Devuelve la lista de series asociadas a una prueba de fuego, incluyendo el resumen de sus disparos.","operationId":"listSeries","responses":{"200":{"description":"Lista de series recuperada.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SeriesResponse"}}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Planning"],"summary":"Crear una nueva serie","description":"Crea una serie y genera automáticamente sus disparos iniciales.","operationId":"createSeries","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeriesRequest"}}},"required":true},"responses":{"201":{"description":"Serie creada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeriesResponse"}}}},"400":{"description":"Datos de serie inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/planning/series/{seriesId}":{"put":{"tags":["Planning"],"summary":"Modificar serie","description":"Actualiza datos básicos de la serie (nombre, observaciones).","operationId":"updateSeries","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeriesUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Serie actualizada."},"400":{"description":"Datos de serie inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Serie no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Planning"],"summary":"Eliminar serie","description":"Elimina una serie y todos sus disparos asociados.","operationId":"deleteSeries","responses":{"204":{"description":"Serie eliminada."},"404":{"description":"Serie no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"seriesId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/series/reorder":{"put":{"tags":["Planning"],"summary":"Reordenar series","description":"Actualiza el orden de ejecución de todas las series de la prueba enviando la lista ordenada de sus IDs.","operationId":"reorderSeries","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeriesReorderRequest"}}},"required":true},"responses":{"200":{"description":"Series reordenadas con éxito."},"400":{"description":"Lista de IDs inválida o incompleta.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/planning/series/{seriesId}/shots":{"post":{"tags":["Planning"],"summary":"Añadir disparo a una serie","description":"Crea un nuevo disparo al final de la serie indicada. La numeración global se ajusta automáticamente.","operationId":"createShot","responses":{"201":{"description":"Disparo creado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShotResponse"}}}},"404":{"description":"Serie no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"seriesId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/planning/shots/{shotId}":{"put":{"tags":["Planning"],"summary":"Modificar disparo","description":"Actualiza la observación del disparo.","operationId":"updateShot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShotUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Disparo actualizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShotResponse"}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Disparo no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Planning"],"summary":"Eliminar disparo","description":"Elimina un disparo. El sistema renumerará automáticamente los disparos posteriores de toda la prueba para mantener la secuencia.","operationId":"deleteShot","responses":{"204":{"description":"Disparo eliminado y secuencia recalculada."},"404":{"description":"Disparo no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"shotId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/conditions":{"get":{"tags":["Planning"],"summary":"Obtener todas las condiciones de disparo de la prueba","description":"Devuelve el listado completo de condiciones físicas de todos los disparos, agrupados por series.","operationId":"getPlanningConditions","responses":{"200":{"description":"Condiciones recuperadas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialConditionsResponse"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"put":{"tags":["Planning"],"summary":"Actualizar todas las condiciones de disparo de la prueba","description":"Guarda el estado completo de la pestaña de condiciones de disparo.","operationId":"updatePlanningConditions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialConditionsRequest"}}},"required":true},"responses":{"200":{"description":"Condiciones actualizadas."},"400":{"description":"Datos de condiciones inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-types":{"get":{"tags":["Planning"],"summary":"Listar tipos de blanco","operationId":"listTargetTypes","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}},{"name":"name","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Blanco Móvil"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["label;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de tipos de blanco.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440000","name":{"es":"Blanco Móvil","en":"Moving Target"},"label":"Moving Target","active":true}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Planning"],"summary":"Crear tipo de blanco","description":"Crea un nuevo tipo de blanco en el catálogo.","operationId":"createTargetType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Blanco Móvil","en":"Moving Target"},"active":true}}},"required":true},"responses":{"201":{"description":"Tipo de blanco creado con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440000","name":{"es":"Blanco Móvil","en":"Moving Target"},"label":"Moving Target","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-types/{targetTypeId}":{"put":{"tags":["Planning"],"summary":"Modificar tipo de blanco (i18n)","description":"Actualiza el objeto `name` multilenguaje para el tipo de blanco. El `id` se recibe por el path y `label` es lectura solamente.","operationId":"updateTargetType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Blanco Móvil","en":"Moving Target"},"active":true}}},"required":true},"responses":{"200":{"description":"Tipo de blanco actualizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440000","name":{"es":"Blanco Móvil","en":"Moving Target"},"label":"Moving Target","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Tipo de blanco no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Planning"],"summary":"Eliminar tipo de blanco","description":"Elimina un tipo de blanco del catálogo.","operationId":"deleteTargetType","responses":{"204":{"description":"Tipo de blanco eliminado."},"404":{"description":"Tipo de blanco no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"targetTypeId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-materials":{"get":{"tags":["Planning"],"summary":"Listar materiales de blanco","operationId":"listTargetMaterials","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}},{"name":"name","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Acero"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["label;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de materiales de blanco.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440001","name":{"es":"Acero","en":"Steel"},"label":"Steel","active":true}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Planning"],"summary":"Crear material de blanco","description":"Crea un nuevo material de blanco en el catálogo.","operationId":"createTargetMaterial","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Acero","en":"Steel"},"active":true}}},"required":true},"responses":{"201":{"description":"Material de blanco creado con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440001","name":{"es":"Acero","en":"Steel"},"label":"Steel","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-materials/{targetMaterialId}":{"put":{"tags":["Planning"],"summary":"Modificar material de blanco (i18n)","description":"Actualiza el objeto `name` multilenguaje para el material de blanco. El `id` se recibe por el path y `label` es lectura solamente.","operationId":"updateTargetMaterial","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Acero","en":"Steel"},"active":true}}},"required":true},"responses":{"200":{"description":"Material de blanco actualizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440001","name":{"es":"Acero","en":"Steel"},"label":"Steel","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Material de blanco no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Planning"],"summary":"Eliminar material de blanco","description":"Elimina un material de blanco del catálogo.","operationId":"deleteTargetMaterial","responses":{"204":{"description":"Material de blanco eliminado."},"404":{"description":"Material de blanco no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"targetMaterialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-dimensions":{"get":{"tags":["Planning"],"summary":"Listar dimensiones de blanco","description":"Devuelve la lista de dimensiones de blanco. Cada item contendrá o bien los campos `width` y `height` (en cm), o bien `diameter` (en cm). Además incluye `label` con formato 'WIDTH x HEIGHT cm' o 'DIAMETER cm'.","operationId":"listTargetDimensions","parameters":[{"name":"name","in":"query","description":"Filtro por etiqueta o dimensiones (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"50 x 100"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["width;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de dimensiones de blanco.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetDimensionListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":2,"items":[{"width":50,"height":100,"label":"50 x 100 cm","active":true},{"diameter":20,"label":"20 cm","active":true}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Planning"],"summary":"Crear dimensión de blanco","description":"Crea una nueva dimensión de blanco en el catálogo.","operationId":"createTargetDimension","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetDimensionUpdateRequest"},"example":{"width":50,"height":100,"active":true}}},"required":true},"responses":{"201":{"description":"Dimensión de blanco creada con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetDimensionItem"},"example":{"width":50,"height":100,"label":"50 x 100 cm","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-dimensions/{targetDimensionId}":{"put":{"tags":["Planning"],"summary":"Modificar dimensión de blanco","description":"Actualiza las dimensiones de un item de blanco. El `label` es de sólo lectura y se recalcula en base a las dimensiones.","operationId":"updateTargetDimension","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetDimensionUpdateRequest"},"example":{"width":50,"height":100,"active":true}}},"required":true},"responses":{"200":{"description":"Dimensión de blanco actualizada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetDimensionItem"},"example":{"width":50,"height":100,"label":"50 x 100 cm","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Dimensión no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Planning"],"summary":"Eliminar dimensión de blanco","description":"Elimina una dimensión de blanco del catálogo.","operationId":"deleteTargetDimension","responses":{"204":{"description":"Dimensión eliminada."},"404":{"description":"Dimensión no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"targetDimensionId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-thicknesses":{"get":{"tags":["Planning"],"summary":"Listar espesores de blanco","operationId":"listTargetThicknesses","parameters":[{"name":"name","in":"query","description":"Filtro por nombre o valor del espesor.","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"5 mm"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["name;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de espesores de blanco.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataIItemListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440020","name":"5 mm","active":true}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Planning"],"summary":"Crear espesor de blanco","description":"Crea un nuevo espesor de blanco en el catálogo.","operationId":"createTargetThickness","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataIItemUpdateRequest"},"example":{"name":"5 mm","active":true}}},"required":true},"responses":{"201":{"description":"Espesor de blanco creado con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataIItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440020","name":"5 mm","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/target-thicknesses/{targetThicknessId}":{"put":{"tags":["Planning"],"summary":"Modificar espesor de blanco","description":"Actualiza un espesor de blanco del catálogo.","operationId":"updateTargetThickness","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataIItemUpdateRequest"},"example":{"name":"5 mm","active":true}}},"required":true},"responses":{"200":{"description":"Espesor actualizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataIItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440020","name":"5 mm","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Espesor no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Planning"],"summary":"Eliminar espesor de blanco","description":"Elimina un espesor de blanco del catálogo.","operationId":"deleteTargetThickness","responses":{"204":{"description":"Espesor eliminado."},"404":{"description":"Espesor no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"targetThicknessId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/impact-zones":{"get":{"tags":["Planning"],"summary":"Listar zonas de impacto","operationId":"listImpactZones","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}},{"name":"name","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Zona Central"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["label;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de zonas de impacto.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440002","name":{"es":"Zona Central","en":"Central Zone"},"label":"Central Zone","active":true}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Planning"],"summary":"Crear zona de impacto","description":"Crea una nueva zona de impacto en el catálogo.","operationId":"createImpactZone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Zona Central","en":"Central Zone"},"active":true}}},"required":true},"responses":{"201":{"description":"Zona de impacto creada con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440002","name":{"es":"Zona Central","en":"Central Zone"},"label":"Central Zone","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/impact-zones/{impactZoneId}":{"put":{"tags":["Planning"],"summary":"Modificar zona de impacto (i18n)","description":"Actualiza el objeto `name` multilenguaje para la zona de impacto. El `id` se recibe por el path y `label` es lectura solamente.","operationId":"updateImpactZone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Zona Central","en":"Central Zone"},"active":true}}},"required":true},"responses":{"200":{"description":"Zona de impacto actualizada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440002","name":{"es":"Zona Central","en":"Central Zone"},"label":"Central Zone","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Zona de impacto no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Planning"],"summary":"Eliminar zona de impacto","description":"Elimina una zona de impacto del catálogo.","operationId":"deleteImpactZone","responses":{"204":{"description":"Zona de impacto eliminada."},"404":{"description":"Zona de impacto no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"impactZoneId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/munitions":{"get":{"tags":["Munitions"],"summary":"Obtener configuraciones de munición de la prueba","description":"Devuelve todas las configuraciones de munición agrupadas por series.","operationId":"listMunitionConfigurations","responses":{"200":{"description":"Lista de configuraciones jerarquizada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialMunitionsResponse"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"put":{"tags":["Munitions"],"summary":"Actualizar configuraciones de munición de la prueba","description":"Guarda el estado completo de la pestaña de municiones (configuraciones, componentes y asignaciones).","operationId":"updateMunitionConfigurations","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MunitionBulkUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Configuraciones actualizadas."},"400":{"description":"Datos de munición inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fuse-working-modes":{"get":{"tags":["Munitions"],"summary":"Listar modos de funcionamiento de espoleta","operationId":"listFuseWorkingModes","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}},{"name":"name","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Instantáneo"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["label;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de modos de funcionamiento.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440030","name":{"es":"Instantáneo","en":"Instant"},"label":"Instantáneo","active":true}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Munitions"],"summary":"Crear modo de funcionamiento de espoleta","description":"Crea un nuevo modo de funcionamiento en el catálogo.","operationId":"createFuseWorkingMode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Instantáneo","en":"Instant"},"active":true}}},"required":true},"responses":{"201":{"description":"Modo de funcionamiento creado con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440030","name":{"es":"Instantáneo","en":"Instant"},"label":"Instantáneo","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fuse-working-modes/{fuseWorkingModeId}":{"put":{"tags":["Munitions"],"summary":"Modificar modo de funcionamiento de espoleta (i18n)","description":"Actualiza el objeto `name` multilenguaje para el modo de funcionamiento de espoleta. El `id` se recibe por el path y `label` es lectura solamente.","operationId":"updateFuseWorkingMode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nUpdateRequest"},"example":{"name":{"es":"Instantáneo","en":"Instant"},"active":true}}},"required":true},"responses":{"200":{"description":"Modo de funcionamiento actualizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataI18nItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440030","name":{"es":"Instantáneo","en":"Instant"},"label":"Instantáneo","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Modo no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Munitions"],"summary":"Eliminar modo de funcionamiento de espoleta","description":"Elimina un modo de funcionamiento del catálogo.","operationId":"deleteFuseWorkingMode","responses":{"204":{"description":"Modo eliminado."},"404":{"description":"Modo no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fuseWorkingModeId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/loading-zone":{"get":{"tags":["Munitions"],"summary":"Listar zonas de carga","description":"Devuelve la lista de zonas de carga disponibles para el centro.","operationId":"listLoadingZones","parameters":[{"name":"denominationId","in":"query","description":"Filtro por tipo de carga de proyección.","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440032"}},{"name":"caliber","in":"query","description":"Filtro por calibre.","required":false,"style":"form","explode":true,"schema":{"type":"number","example":155}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["caliber;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de zonas de carga.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadingZoneListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440031","denomination":{"id":"550e8400-e29b-41d4-a716-446655440032","name":"Carga de proyección M4"},"zone":["Z1","Z2"],"caliber":155,"observations":"Configuración estándar","active":true}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Munitions"],"summary":"Crear zona de carga","description":"Crea una nueva zona de carga en el catálogo.","operationId":"createLoadingZone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadingZoneUpdateRequest"},"example":{"denominationId":"550e8400-e29b-41d4-a716-446655440032","zone":["Z1","Z2"],"caliber":155,"observations":"Configuración estándar","active":true}}},"required":true},"responses":{"201":{"description":"Zona de carga creada con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadingZoneItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440031","denominationId":"550e8400-e29b-41d4-a716-446655440032","zone":["Z1","Z2"],"caliber":155,"observations":"Configuración estándar","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/loading-zone/{loadingZoneId}":{"put":{"tags":["Munitions"],"summary":"Modificar zona de carga","description":"Actualiza una zona de carga del catálogo.","operationId":"updateLoadingZone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadingZoneUpdateRequest"},"example":{"denominationId":"550e8400-e29b-41d4-a716-446655440032","zone":["Z1","Z2"],"caliber":155,"observations":"Configuración estándar","active":true}}},"required":true},"responses":{"200":{"description":"Zona de carga actualizada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadingZoneItem"},"example":{"id":"550e8400-e29b-41d4-a716-446655440031","denominationId":"550e8400-e29b-41d4-a716-446655440032","zone":["Z1","Z2"],"caliber":155,"observations":"Configuración estándar","active":true}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Zona de carga no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Munitions"],"summary":"Eliminar zona de carga","description":"Elimina una zona de carga del catálogo.","operationId":"deleteLoadingZone","responses":{"204":{"description":"Zona de carga eliminada."},"404":{"description":"Zona de carga no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"loadingZoneId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/armament":{"get":{"tags":["Armament"],"summary":"Obtener armamento asignado de la prueba","description":"Devuelve el listado de armamento y tubos asignados a cada disparo, agrupados por series.","operationId":"listTrialArmament","responses":{"200":{"description":"Armamento recuperado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialArmamentResponse"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"put":{"tags":["Armament"],"summary":"Actualizar armamento de la prueba","description":"Guarda la asignación masiva de armas y tubos a los disparos.","operationId":"updateTrialArmament","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArmamentBulkUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Armamento actualizado."},"400":{"description":"Datos de armamento inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/measures":{"get":{"tags":["Measures"],"summary":"Obtener medidas de la prueba","description":"Devuelve la configuración de medidas (magnitudes y registros) agrupadas por series. El campo `name` viene traducido a partir del `Accept-Language`.","operationId":"listTrialMeasures","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}}],"responses":{"200":{"description":"Medidas recuperadas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialMeasuresResponse"},"examples":{"sample":{"value":{"series":[{"seriesId":"550e8400-e29b-41d4-a716-446655440100","seriesName":"Serie 1","measures":{"topographyMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440040","name":"Presión - PE-TOP-01.01 \"Medición de presión atmosférica\"","minLimit":0.5,"maxLimit":2,"deviation":0.1},{"id":"550e8400-e29b-41d4-a716-446655440041","name":"Altura - PE-TOP-01.02 \"Medición de altura del objetivo\"","minLimit":1,"maxLimit":3.5,"deviation":0.2}],"munitionsMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440050","name":"Velocidad de proyectil - PE-MUN-01.01 \"Medida de velocidad de proyectil\"","minLimit":100,"maxLimit":200,"deviation":5},{"id":"550e8400-e29b-41d4-a716-446655440051","name":"Energía - PE-MUN-01.02 \"Medida de energía cinética\"","minLimit":1000,"maxLimit":5000,"deviation":100}],"armamentMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440060","name":"Vida útil tubo - PE-ARM-01.01 \"Control de vida útil de tubo\"","minLimit":10,"maxLimit":100,"deviation":5}],"ballisticsMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440070","name":"Alcance - PE-CET-01.03 \"Medida de velocidad inicial mediante sistema de radares\"","minLimit":50,"maxLimit":500,"deviation":10},{"id":"550e8400-e29b-41d4-a716-446655440071","name":"Deriva - PE-BAL-01.02 \"Medida de deriva de proyectil\"","minLimit":0,"maxLimit":1,"deviation":0.05}]}}]}}}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"put":{"tags":["Measures"],"summary":"Actualizar medidas de la prueba","description":"Guarda la configuración masiva de medidas para las series de la prueba.","operationId":"updateTrialMeasures","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeasuresBulkUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Medidas actualizadas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialMeasuresResponse"}}}},"400":{"description":"Datos de medidas inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/weapons":{"get":{"tags":["Armament"],"summary":"Listar armas","description":"Devuelve la lista de armas disponibles para el centro. Viene de Calibry.","operationId":"listWeapons","parameters":[{"name":"name","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Fusil"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["name;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de armas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataBasicListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440005","name":"Fusil"}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/tubes":{"get":{"tags":["Armament"],"summary":"Listar tubos","description":"Devuelve la lista de tubos disponibles para el centro. Viene de Calibry.","operationId":"listTubes","parameters":[{"name":"name","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Tubo A"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["name;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de tubos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataBasicListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":1,"items":[{"id":"550e8400-e29b-41d4-a716-446655440006","name":"Tubo A"}]}}}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/measures":{"get":{"tags":["Measures"],"summary":"Listar medidas disponibles","description":"Listado de medidas maestras con soporte i18n y filtrado por área de medición.","operationId":"listMeasures","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}},{"name":"magnitude","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Presión"}},{"name":"unit","in":"query","description":"Filtrar por unidad técnica (ej: \"TOPOGRAPHY\").","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/TechnicalUnitEnum"}},{"name":"page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":1}},{"name":"pageSize","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":25}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["label;asc"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Lista de medidas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataMeasureListResponse"},"examples":{"sample":{"value":{"page":1,"pageSize":25,"totalElements":2,"items":[{"id":"550e8400-e29b-41d4-a716-446655440040","unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE_COORDS","magnitudeCode":"BAL_FUSE_COORDS","magnitude":{"es":"Coordenadas de paso de espoletas","en":"Fuse passage coordinates"},"label":"Coordenadas de paso de espoletas - IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","measureUnit":"MM","qualificationType":"QUANTITATIVE","minValue":0,"maxValue":15000,"equipmentTypes":["HIGH_SPEED_CAMERA"],"procedure":{"es":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","en":"IT-INS-02.01.01 \"Fuse passage coordinates\""},"accreditation":true,"grubbs":true,"builtIn":false,"uncertainty":"string","magnitudeLabel":"Coordenadas de paso de espoletas","procedureLabel":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","active":true},{"id":"550e8400-e29b-41d4-a716-446655440041","unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE","magnitudeCode":"BAL_FUSE_ROUTE","magnitude":{"es":"Funcionamiento de espoletas","en":"Fuse functioning"},"label":"Funcionamiento de espoletas - PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","qualificationType":"QUALITATIVE","values":[{"code":"PREMATURE_FUNCTIONING","name":{"es":"Funcionamiento prematuro","en":"Premature functioning"},"label":"Funcionamiento prematuro","active":true},{"code":"EARLY_FUNCTIONING","name":{"es":"Funcionamiento temprano","en":"Early functioning"},"label":"Funcionamiento temprano","active":true},{"code":"INVERSION","name":{"es":"Inversión","en":"Inversion"},"label":"Inversión","active":true},{"code":"CORRECT_FUNCTIONING","name":{"es":"Funcionamiento correcto","en":"Correct functioning"},"label":"Funcionamiento correcto","active":true},{"code":"NO_EXPLOSION","name":{"es":"Sin explosión","en":"No explosion"},"label":"Sin explosión","active":true},{"code":"LATE_FUNCTIONING","name":{"es":"Funcionamiento tardío","en":"Late functioning"},"label":"Funcionamiento tardío","active":true},{"code":"NULL_SHOT","name":{"es":"Disparo nulo","en":"Null shot"},"label":"Disparo nulo","active":true}],"equipmentTypes":["TRAJECTOGRAPHY_RADAR"],"procedure":{"es":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","en":"PE-CET-02.01 \"Fuse functioning by radar and video system\""},"accreditation":true,"grubbs":false,"builtIn":false,"uncertainty":"string","magnitudeLabel":"Funcionamiento de espoletas","procedureLabel":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","active":true}]}}}}}},"404":{"description":"Centro no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["Measures"],"summary":"Crear medida","description":"Crea una nueva medida en el catálogo.\n\nReglas por qualificationType:\n- QUANTITATIVE: enviar minValue y/o maxValue si procede; omitir values.\n- QUALITATIVE: enviar values con mínimo 1 elemento; omitir minValue y maxValue.\n\nCampo code: el frontend debe auto-generarlo como slug de la etiqueta en inglés\n(mayúsculas, sin tildes, espacios a _, p.ej. DETONATION).\nEl usuario puede editarlo antes de guardar por primera vez.\nEl backend no aplica restricción de inmutabilidad en la creación.\n","operationId":"createMeasure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataMeasureUpdateRequest"},"examples":{"quantitative":{"summary":"Medida cuantitativa","value":{"unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE_COORDS","magnitudeCode":"BAL_FUSE_COORDS","magnitude":{"es":"Coordenadas de paso de espoletas","en":"Fuse passage coordinates"},"measureUnit":"MM","qualificationType":"QUANTITATIVE","minValue":0,"maxValue":15000,"equipmentTypes":["HIGH_SPEED_CAMERA"],"procedure":{"es":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","en":"IT-INS-02.01.01 \"Fuse passage coordinates\""},"accreditation":true,"grubbs":true,"uncertainty":"string","active":true}},"qualitative":{"summary":"Medida cualitativa","value":{"unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE","magnitudeCode":"BAL_FUSE_ROUTE","magnitude":{"es":"Funcionamiento de espoletas","en":"Fuse functioning"},"qualificationType":"QUALITATIVE","values":[{"code":"PREMATURE_FUNCTIONING","name":{"es":"Funcionamiento prematuro","en":"Premature functioning"},"active":true},{"code":"EARLY_FUNCTIONING","name":{"es":"Funcionamiento temprano","en":"Early functioning"},"active":true},{"code":"INVERSION","name":{"es":"Inversión","en":"Inversion"},"active":true},{"code":"CORRECT_FUNCTIONING","name":{"es":"Funcionamiento correcto","en":"Correct functioning"},"active":true},{"code":"NO_EXPLOSION","name":{"es":"Sin explosión","en":"No explosion"},"active":true},{"code":"LATE_FUNCTIONING","name":{"es":"Funcionamiento tardío","en":"Late functioning"},"active":true},{"code":"NULL_SHOT","name":{"es":"Disparo nulo","en":"Null shot"},"active":true}],"equipmentTypes":["TRAJECTOGRAPHY_RADAR"],"procedure":{"es":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","en":"PE-CET-02.01 \"Fuse functioning by radar and video system\""},"accreditation":true,"grubbs":false,"uncertainty":"string","active":true}}}}},"required":true},"responses":{"201":{"description":"Medida creada con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataMeasureItem"},"examples":{"quantitative":{"summary":"Medida cuantitativa","value":{"id":"550e8400-e29b-41d4-a716-446655440040","unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE_COORDS","magnitudeCode":"BAL_FUSE_COORDS","magnitude":{"es":"Coordenadas de paso de espoletas","en":"Fuse passage coordinates"},"label":"Coordenadas de paso de espoletas - IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","measureUnit":"MM","qualificationType":"QUANTITATIVE","minValue":0,"maxValue":15000,"equipmentTypes":["HIGH_SPEED_CAMERA"],"procedure":{"es":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","en":"IT-INS-02.01.01 \"Fuse passage coordinates\""},"accreditation":true,"grubbs":true,"builtIn":false,"uncertainty":"string","magnitudeLabel":"Coordenadas de paso de espoletas","procedureLabel":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","active":true}},"qualitative":{"summary":"Medida cualitativa","value":{"id":"550e8400-e29b-41d4-a716-446655440041","unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE","magnitudeCode":"BAL_FUSE_ROUTE","magnitude":{"es":"Funcionamiento de espoletas","en":"Fuse functioning"},"label":"Funcionamiento de espoletas - PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","qualificationType":"QUALITATIVE","values":[{"code":"PREMATURE_FUNCTIONING","name":{"es":"Funcionamiento prematuro","en":"Premature functioning"},"label":"Funcionamiento prematuro","active":true},{"code":"EARLY_FUNCTIONING","name":{"es":"Funcionamiento temprano","en":"Early functioning"},"label":"Funcionamiento temprano","active":true},{"code":"INVERSION","name":{"es":"Inversión","en":"Inversion"},"label":"Inversión","active":true},{"code":"CORRECT_FUNCTIONING","name":{"es":"Funcionamiento correcto","en":"Correct functioning"},"label":"Funcionamiento correcto","active":true},{"code":"NO_EXPLOSION","name":{"es":"Sin explosión","en":"No explosion"},"label":"Sin explosión","active":true},{"code":"LATE_FUNCTIONING","name":{"es":"Funcionamiento tardío","en":"Late functioning"},"label":"Funcionamiento tardío","active":true},{"code":"NULL_SHOT","name":{"es":"Disparo nulo","en":"Null shot"},"label":"Disparo nulo","active":true}],"equipmentTypes":["TRAJECTOGRAPHY_RADAR"],"procedure":{"es":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","en":"PE-CET-02.01 \"Fuse functioning by radar and video system\""},"accreditation":true,"grubbs":false,"builtIn":false,"uncertainty":"string","magnitudeLabel":"Funcionamiento de espoletas","procedureLabel":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","active":true}}}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/measures/{measureId}":{"put":{"tags":["Measures"],"summary":"Modificar medida","description":"Actualiza una medida del catálogo.\n\nReglas por qualificationType:\n- QUANTITATIVE: enviar minValue y/o maxValue si procede; omitir values.\n- QUALITATIVE: enviar values con mínimo 1 elemento; omitir minValue y maxValue.\n\nInmutabilidad del code: si un valor ya está referenciado en registros de\nejecución, el backend rechaza cualquier cambio en su code con 409 Conflict;\nel frontend debe marcar ese campo como solo lectura.\nPara eliminar un valor, omitirlo del array; si tiene registros de ejecución,\nel backend rechaza la operación con 409 Conflict.\n\nLos campos `measurementAreaCode` y `magnitudeCode` no pueden ser modificados si el campo `builtIn` es true.\n","operationId":"updateMeasure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataMeasureUpdateRequest"},"examples":{"quantitative":{"summary":"Medida cuantitativa","value":{"unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE_COORDS","magnitudeCode":"BAL_FUSE_COORDS","magnitude":{"es":"Coordenadas de paso de espoletas","en":"Fuse passage coordinates"},"measureUnit":"MM","qualificationType":"QUANTITATIVE","minValue":0,"maxValue":15000,"equipmentTypes":["HIGH_SPEED_CAMERA"],"procedure":{"es":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","en":"IT-INS-02.01.01 \"Fuse passage coordinates\""},"accreditation":true,"grubbs":true,"uncertainty":"string","active":true}},"qualitative":{"summary":"Medida cualitativa","value":{"unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE","magnitudeCode":"BAL_FUSE_ROUTE","magnitude":{"es":"Funcionamiento de espoletas","en":"Fuse functioning"},"qualificationType":"QUALITATIVE","values":[{"code":"PREMATURE_FUNCTIONING","name":{"es":"Funcionamiento prematuro","en":"Premature functioning"},"active":true},{"code":"EARLY_FUNCTIONING","name":{"es":"Funcionamiento temprano","en":"Early functioning"},"active":true},{"code":"INVERSION","name":{"es":"Inversión","en":"Inversion"},"active":true},{"code":"CORRECT_FUNCTIONING","name":{"es":"Funcionamiento correcto","en":"Correct functioning"},"active":true},{"code":"NO_EXPLOSION","name":{"es":"Sin explosión","en":"No explosion"},"active":true},{"code":"LATE_FUNCTIONING","name":{"es":"Funcionamiento tardío","en":"Late functioning"},"active":true},{"code":"NULL_SHOT","name":{"es":"Disparo nulo","en":"Null shot"},"active":true}],"equipmentTypes":["TRAJECTOGRAPHY_RADAR"],"procedure":{"es":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","en":"PE-CET-02.01 \"Fuse functioning by radar and video system\""},"accreditation":true,"grubbs":false,"uncertainty":"string","active":true}}}}},"required":true},"responses":{"200":{"description":"Medida actualizada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataMeasureItem"},"examples":{"quantitative":{"summary":"Medida cuantitativa","value":{"id":"550e8400-e29b-41d4-a716-446655440040","unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE_COORDS","magnitudeCode":"BAL_FUSE_COORDS","magnitude":{"es":"Coordenadas de paso de espoletas","en":"Fuse passage coordinates"},"label":"Coordenadas de paso de espoletas - IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","measureUnit":"MM","qualificationType":"QUANTITATIVE","minValue":0,"maxValue":15000,"equipmentTypes":["HIGH_SPEED_CAMERA"],"procedure":{"es":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","en":"IT-INS-02.01.01 \"Fuse passage coordinates\""},"accreditation":true,"grubbs":true,"builtIn":false,"uncertainty":"string","magnitudeLabel":"Coordenadas de paso de espoletas","procedureLabel":"IT-INS-02.01.01 \"Coordenadas de paso de espoleta\"","active":true}},"qualitative":{"summary":"Medida cualitativa","value":{"id":"550e8400-e29b-41d4-a716-446655440041","unit":"BALLISTICS","measurementAreaCode":"BAL_FUSE","magnitudeCode":"BAL_FUSE_ROUTE","magnitude":{"es":"Funcionamiento de espoletas","en":"Fuse functioning"},"label":"Funcionamiento de espoletas - PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","qualificationType":"QUALITATIVE","values":[{"code":"PREMATURE_FUNCTIONING","name":{"es":"Funcionamiento prematuro","en":"Premature functioning"},"label":"Funcionamiento prematuro","active":true},{"code":"EARLY_FUNCTIONING","name":{"es":"Funcionamiento temprano","en":"Early functioning"},"label":"Funcionamiento temprano","active":true},{"code":"INVERSION","name":{"es":"Inversión","en":"Inversion"},"label":"Inversión","active":true},{"code":"CORRECT_FUNCTIONING","name":{"es":"Funcionamiento correcto","en":"Correct functioning"},"label":"Funcionamiento correcto","active":true},{"code":"NO_EXPLOSION","name":{"es":"Sin explosión","en":"No explosion"},"label":"Sin explosión","active":true},{"code":"LATE_FUNCTIONING","name":{"es":"Funcionamiento tardío","en":"Late functioning"},"label":"Funcionamiento tardío","active":true},{"code":"NULL_SHOT","name":{"es":"Disparo nulo","en":"Null shot"},"label":"Disparo nulo","active":true}],"equipmentTypes":["TRAJECTOGRAPHY_RADAR"],"procedure":{"es":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","en":"PE-CET-02.01 \"Fuse functioning by radar and video system\""},"accreditation":true,"grubbs":false,"builtIn":false,"uncertainty":"string","magnitudeLabel":"Funcionamiento de espoletas","procedureLabel":"PE-CET-02.01 \"Funcionamiento de espoletas mediante sistema de radares y vídeo\"","active":true}}}}}},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Medida no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["Measures"],"summary":"Eliminar medida","description":"Elimina una medida del catálogo. Las medidas con `built-in: true` no pueden eliminarse.","operationId":"deleteMeasure","responses":{"204":{"description":"Medida eliminada."},"404":{"description":"Medida no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"La medida no puede eliminarse porque es nativa del sistema (`builtIn: true`) o está referenciada en registros de ejecución.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"measureId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/validate":{"post":{"tags":["Planning Lifecycle"],"summary":"Validar Planificación","description":"Verifica la integridad de la planificación, genera la Nota de Experiencias y el Catálogo de Ensayos, y cambia el estado a 'PLANIFICADA'. Bloquea la edición.","operationId":"validatePlanning","responses":{"200":{"description":"Planificación validada y documentos generados."},"400":{"description":"La planificación contiene errores de validación.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"La planificación ya está validada o en un estado que no permite validación.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/fire-trials/{fireTrialId}/planning/modify":{"post":{"tags":["Planning Lifecycle"],"summary":"Modificar Planificación (Desbloquear)","description":"Permite reabrir una planificación validada para su edición.","operationId":"unlockPlanning","responses":{"200":{"description":"Planificación desbloqueada."},"404":{"description":"Prueba de fuego no encontrada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"La planificación no está en un estado que permita desbloqueo.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"fireTrialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/stanag-criteria":{"get":{"tags":["STANAG"],"summary":"Listar criterios STANAG","description":"Obtiene una lista de criterios STANAG para el centro especificado. Soporta filtros y paginación.\n","operationId":"listStanagCriteria","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}},{"name":"name","in":"query","description":"Filtro por nombre (búsqueda de texto).","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"Velocidad media del viento"}},{"name":"active","in":"query","description":"Filtrar por estado activo/inactivo. Si es null, muestra todos.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"page","in":"query","description":"Número de página.","required":false,"style":"form","explode":true,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"pageSize","in":"query","description":"Tamaño de página.","required":false,"style":"form","explode":true,"schema":{"maximum":200,"minimum":1,"type":"integer","default":25}},{"name":"sort","in":"query","description":"Criterios de ordenación.","required":false,"style":"form","explode":true,"schema":{"type":"array","example":["label;asc"],"items":{"pattern":"^[A-Za-z][A-Za-z0-9]*;(asc|desc)$","type":"string"}}}],"responses":{"200":{"description":"Lista de criterios STANAG obtenida con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StanagCriteriaListResponse"}}}},"400":{"description":"Parámetros de consulta inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"post":{"tags":["STANAG"],"summary":"Crear un nuevo criterio STANAG","description":"Crea un nuevo criterio STANAG en el centro especificado.","operationId":"createStanagCriterion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StanagCriterionRequest"}}},"required":true},"responses":{"201":{"description":"Criterio STANAG creado con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StanagCriterionItem"}}}},"400":{"description":"Datos inválidos en la solicitud.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Ya existe un criterio con esas características.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}]},"/centers/{centerId}/stanag-criteria/{stanagCriterionId}":{"get":{"tags":["STANAG"],"summary":"Obtener detalles de un criterio STANAG","description":"Obtiene los detalles completos de un criterio STANAG específico.","operationId":"getStanagCriterion","parameters":[{"name":"Accept-Language","in":"header","description":"Preferencia de idioma (ej: \"es\"). Por defecto será \"es\".","required":false,"style":"simple","explode":false,"schema":{"type":"string","example":"es"}}],"responses":{"200":{"description":"Detalles del criterio STANAG.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StanagCriterionItem"}}}},"404":{"description":"Criterio no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"put":{"tags":["STANAG"],"summary":"Modificar un criterio STANAG","description":"Actualiza los datos de un criterio STANAG específico. El `id` se recibe por el path.\n","operationId":"updateStanagCriterion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StanagCriterionRequest"}}},"required":true},"responses":{"200":{"description":"Criterio STANAG actualizado con éxito.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StanagCriterionItem"}}}},"400":{"description":"Datos inválidos en la solicitud.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Criterio no encontrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"delete":{"tags":["STANAG"],"summary":"Eliminar un criterio STANAG","description":"Elimina un criterio STANAG del sistema. Esta operación es idempotente.\n","operationId":"deleteStanagCriterion","responses":{"204":{"description":"Criterio STANAG eliminado con éxito."},"400":{"description":"Datos inválidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}},"security":[{"default":[]}],"x-auth-type":"None","x-throttling-tier":"Unlimited"},"parameters":[{"name":"centerId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"stanagCriterionId","in":"path","description":"Identificador único del criterio STANAG.","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid","example":"019a2ad8-f9cc-7c55-b18b-f075b2dd091f"}}]}},"components":{"schemas":{"PlanningResponse":{"required":["goal","specimens"],"type":"object","properties":{"goal":{"type":"string","description":"Objetivo de la prueba"},"specimens":{"type":"array","description":"Lista de especímenes asociados a la planificación, con su tipo e identificador","items":{"allOf":[{"$ref":"#/components/schemas/PlanningSpecimenItem"},{"type":"object","properties":{"name":{"type":"string","description":"Nombre legible del espécimen"}}}]}},"hypochelometricReviewBefore":{"type":"boolean","description":"Revisión hipocelométrica antes de la prueba"},"hypochelometricReviewAfter":{"type":"boolean","description":"Revisión hipocelométrica después de la prueba"},"observations":{"type":"string","description":"Observaciones"},"requirements":{"type":"string","description":"Requisitos para aprobación o rechazo de los resultados"},"additionalInfo":{"type":"string","description":"Información adicional del cliente"},"dateControl":{"$ref":"#/components/schemas/DateControlParameters"},"stanagCriteria":{"type":"array","description":"Criterios STANAG asociados a la planificación.","items":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","description":"Etiqueta legible del criterio en el idioma por defecto."}}}},"ratingCriteriaUnits":{"$ref":"#/components/schemas/RatingCriteriaUnits"},"ratingCriteria":{"$ref":"#/components/schemas/RatingCriteria"}},"example":{"goal":"Evaluación balística del sistema","specimens":[{"specimenId":"550e8400-e29b-41d4-a716-446655440010","name":"Granada 105 mm","type":"DENOMINATION","batch":"L-2026-001"}],"hypochelometricReviewBefore":true,"hypochelometricReviewAfter":false,"observations":"Observaciones generales de planificación.","requirements":"Cumplir los criterios técnicos definidos para la prueba.","additionalInfo":"Información adicional facilitada por el cliente.","dateControl":{"maxEmissionDates":20,"percentageTechnicalUnits":40,"percentageEndTrial":60,"daysSignReport":1},"stanagCriteria":[{"id":"019a2ad8-f9cc-7c55-b18b-f075b2dd091f","name":"Velocidad media del viento en superficie"}],"ratingCriteriaUnits":{"speedUnit":"MS","pressureUnit":"MPA"},"ratingCriteria":{"v0c":{"useful1Min":1.5,"useful1Max":2.5,"uselessMin":3.5,"uselessMax":4.5}}}},"PlanningRequest":{"required":["goal","specimens"],"type":"object","properties":{"goal":{"type":"string","description":"Objetivo de la prueba"},"specimens":{"type":"array","description":"Lista de especímenes (id, tipo y batch)","items":{"$ref":"#/components/schemas/PlanningSpecimenItem"}},"hypochelometricReviewBefore":{"type":"boolean","description":"Revisión hipocelométrica antes de la prueba"},"hypochelometricReviewAfter":{"type":"boolean","description":"Revisión hipocelométrica después de la prueba"},"observations":{"type":"string","description":"Observaciones generales"},"requirements":{"type":"string","description":"Requisitos para aprobación o rechazo de los resultados"},"additionalInfo":{"type":"string","description":"Información adicional del cliente"},"dateControl":{"$ref":"#/components/schemas/DateControlParameters"},"stanagCriteriaIds":{"type":"array","description":"IDs de los criterios STANAG asociados a la planificación.","items":{"type":"string","format":"uuid"}},"ratingCriteriaUnits":{"$ref":"#/components/schemas/RatingCriteriaUnits"},"ratingCriteria":{"$ref":"#/components/schemas/RatingCriteria"}},"example":{"goal":"Evaluación balística del sistema","specimens":[{"specimenId":"550e8400-e29b-41d4-a716-446655440010","type":"DENOMINATION","batch":"L-2026-001"}],"hypochelometricReviewBefore":true,"hypochelometricReviewAfter":false,"observations":"Observaciones generales de planificación.","requirements":"Cumplir los criterios técnicos definidos para la prueba.","additionalInfo":"Información adicional facilitada por el cliente.","dateControl":{"maxEmissionDates":20,"percentageTechnicalUnits":40,"percentageEndTrial":60,"daysSignReport":1},"stanagCriteriaIds":["019a2ad8-f9cc-7c55-b18b-f075b2dd091f"],"ratingCriteriaUnits":{"speedUnit":"MS","pressureUnit":"MPA"},"ratingCriteria":{"v0c":{"useful1Min":1.5,"useful1Max":2.5,"uselessMin":3.5,"uselessMax":4.5}}}},"DateControlParameters":{"required":["daysSignReport","maxEmissionDates","percentageEndTrial","percentageTechnicalUnits"],"type":"object","properties":{"maxEmissionDates":{"type":"integer","description":"Máximos días para emisión de informe","example":20},"percentageTechnicalUnits":{"maximum":100,"minimum":0,"type":"integer","description":"Porcentaje para unidades técnicas","example":40},"percentageEndTrial":{"maximum":100,"minimum":0,"type":"integer","description":"Porcentaje para fin de prueba","example":60},"daysSignReport":{"type":"integer","description":"Días para firma del informe","example":1}}},"RatingCriteriaRow":{"type":"object","properties":{"useful1Min":{"type":"number","description":"Útil-1 (mínimo)","nullable":true,"example":1.5},"useful1Max":{"type":"number","description":"Útil-1 (máximo)","nullable":true,"example":1.5},"uselessMin":{"type":"number","description":"Inútil (mínimo)","nullable":true,"example":1.5},"uselessMax":{"type":"number","description":"Inútil (máximo)","nullable":true,"example":1.5}},"description":"Fila de la tabla de calificación de munición con los límites numéricos."},"RatingCriteriaRowInt":{"type":"object","properties":{"useful1Min":{"type":"integer","description":"Útil-1 (mínimo)","nullable":true,"example":1},"useful1Max":{"type":"integer","description":"Útil-1 (máximo)","nullable":true,"example":1},"uselessMin":{"type":"integer","description":"Inútil (mínimo)","nullable":true,"example":1},"uselessMax":{"type":"integer","description":"Inútil (máximo)","nullable":true,"example":1}},"description":"Fila de la tabla de calificación de munición con los límites enteros."},"RatingCriteriaUnits":{"type":"object","properties":{"speedUnit":{"$ref":"#/components/schemas/SpeedUnitEnum"},"pressureUnit":{"$ref":"#/components/schemas/PressureUnitEnum"}},"description":"Unidades de medida para los criterios de calificación de munición."},"RatingCriteria":{"type":"object","properties":{"v0c":{"$ref":"#/components/schemas/RatingCriteriaRow"},"v0cMean":{"$ref":"#/components/schemas/RatingCriteriaRow"},"v0cStdDev":{"$ref":"#/components/schemas/RatingCriteriaRow"},"p":{"$ref":"#/components/schemas/RatingCriteriaRow"},"pMean":{"$ref":"#/components/schemas/RatingCriteriaRow"},"projectile":{"$ref":"#/components/schemas/RatingCriteriaRowInt"},"fuse":{"$ref":"#/components/schemas/RatingCriteriaRowInt"},"primer":{"$ref":"#/components/schemas/RatingCriteriaRowInt"}},"description":"Calificación de munición expresada como tabla de filas fijas. Cada fila contiene los límites numéricos para Útil-1 (min/max) e Inútil (min/max)."},"SeriesResponse":{"required":["executionOrder","id","name","shots"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"executionOrder":{"type":"integer"},"observations":{"type":"string"},"shots":{"type":"array","items":{"$ref":"#/components/schemas/ShotResponse"}}}},"SeriesRequest":{"required":["name","numberOfShots"],"type":"object","properties":{"name":{"type":"string"},"numberOfShots":{"minimum":1,"type":"integer"},"observations":{"type":"string"}}},"SeriesUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"observations":{"type":"string"}}},"SeriesReorderRequest":{"required":["seriesIds"],"type":"object","properties":{"seriesIds":{"type":"array","description":"Lista ordenada de IDs de las series.","items":{"type":"string","format":"uuid"}}}},"ShotResponse":{"required":["globalNumber","id"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"globalNumber":{"type":"integer","description":"Numeración secuencial global"},"observation":{"type":"string","description":"Observación del disparo"}}},"ShotUpdateRequest":{"required":["observation"],"type":"object","properties":{"observation":{"type":"string","description":"Observación del disparo"}}},"ShotConditions":{"required":["shotId"],"type":"object","allOf":[{"required":["shotId"],"type":"object","properties":{"shotId":{"type":"string","format":"uuid"},"globalNumber":{"type":"integer","description":"Numeración secuencial global","readOnly":true}}},{"$ref":"#/components/schemas/ShotConditionsData"}]},"ShotConditionsData":{"required":["date","targetTypeId"],"type":"object","properties":{"date":{"type":"string","description":"Fecha","format":"date"},"targetTypeId":{"type":"string","description":"Blanco","format":"uuid"},"targetMaterialId":{"type":"string","description":"Material del blanco","format":"uuid"},"targetDimensionsId":{"type":"string","description":"Dimensiones del blanco","format":"uuid"},"targetThicknessId":{"type":"string","description":"Espesor del blanco","format":"uuid"},"distance":{"type":"number","description":"Distancia en metros"},"orientation":{"type":"number","description":"Orientación (en grados)"},"targetInclination":{"type":"number","description":"Inclinación del blanco (en grados)"},"elevation":{"type":"number","description":"Elevación"},"angle":{"type":"number","description":"Ángulo de disparo (en grados)"},"range":{"type":"integer","description":"Alcance (en metros)"},"impactZoneId":{"type":"string","description":"Zona de impacto","format":"uuid"},"loadingZoneId":{"type":"string","description":"Zona de carga","format":"uuid"},"functioningHeight":{"type":"integer","description":"Altura de funcionamiento (en metros)"},"nominalSpeed":{"type":"integer","description":"Velocidad nominal"},"powderWeight":{"type":"number","description":"Peso de pólvora"},"projectileWeight":{"type":"number","description":"Peso del proyectil"},"observations":{"type":"string","description":"Observaciones"}}},"TrialConditionsResponse":{"required":["series"],"type":"object","properties":{"units":{"$ref":"#/components/schemas/ShotConditionsUnits"},"series":{"type":"array","items":{"required":["seriesId","seriesName","shots"],"type":"object","properties":{"seriesId":{"type":"string","format":"uuid"},"seriesName":{"type":"string"},"shots":{"type":"array","items":{"$ref":"#/components/schemas/ShotConditions"}}}}}},"example":{"units":{"distance":"M","orientation":"DEGREES","targetInclination":"DEGREES","elevation":"DEGREES","angle":"DEGREES","range":"M","functioningHeight":"M","nominalSpeed":"MS","powderWeight":"KG","projectileWeight":"KG"},"series":[{"seriesId":"550e8400-e29b-41d4-a716-446655440100","seriesName":"Serie 1","shots":[{"shotId":"550e8400-e29b-41d4-a716-446655440101","globalNumber":1,"date":"2026-06-10T00:00:00.000Z","targetTypeId":"550e8400-e29b-41d4-a716-446655440000","targetMaterialId":"550e8400-e29b-41d4-a716-446655440001","targetDimensionsId":"550e8400-e29b-41d4-a716-446655440003","targetThicknessId":"550e8400-e29b-41d4-a716-446655440020","distance":1200,"orientation":90,"targetInclination":5,"elevation":12,"angle":15,"range":1300,"impactZoneId":"550e8400-e29b-41d4-a716-446655440002","loadingZoneId":"550e8400-e29b-41d4-a716-446655440031","functioningHeight":20,"nominalSpeed":780,"powderWeight":3.75,"projectileWeight":15.5,"observations":"Disparo de validación inicial."}]}]}},"TrialConditionsRequest":{"required":["shots"],"type":"object","properties":{"units":{"$ref":"#/components/schemas/ShotConditionsUnits"},"shots":{"type":"array","items":{"$ref":"#/components/schemas/ShotConditions"}}},"example":{"units":{"distance":"M","orientation":"DEGREES","targetInclination":"DEGREES","elevation":"DEGREES","angle":"DEGREES","range":"M","functioningHeight":"M","nominalSpeed":"MS","powderWeight":"KG","projectileWeight":"KG"},"shots":[{"shotId":"550e8400-e29b-41d4-a716-446655440101","date":"2026-06-10T00:00:00.000Z","targetTypeId":"550e8400-e29b-41d4-a716-446655440000","targetMaterialId":"550e8400-e29b-41d4-a716-446655440001","targetDimensionsId":"550e8400-e29b-41d4-a716-446655440003","targetThicknessId":"550e8400-e29b-41d4-a716-446655440020","distance":1200,"orientation":90,"targetInclination":5,"elevation":12,"angle":15,"range":1300,"impactZoneId":"550e8400-e29b-41d4-a716-446655440002","loadingZoneId":"550e8400-e29b-41d4-a716-446655440031","functioningHeight":20,"nominalSpeed":780,"powderWeight":3.75,"projectileWeight":15.5,"observations":"Disparo de validación inicial."}]}},"TrialMunitionsResponse":{"required":["series"],"type":"object","properties":{"units":{"$ref":"#/components/schemas/PlanningUnits"},"series":{"type":"array","items":{"required":["configurations","seriesId","seriesName"],"type":"object","properties":{"seriesId":{"type":"string","format":"uuid"},"seriesName":{"type":"string"},"configurations":{"type":"array","items":{"$ref":"#/components/schemas/MunitionConfigResponse"}}}}}},"example":{"units":{"temperature":"CELSIUS","time":"S"},"series":[{"seriesId":"550e8400-e29b-41d4-a716-446655440100","seriesName":"Serie 1","configurations":[{"id":"550e8400-e29b-41d4-a716-446655440200","seriesId":"550e8400-e29b-41d4-a716-446655440100","denomination":{"id":"550e8400-e29b-41d4-a716-446655440212","name":"M107 HE"},"batch":"LOT-HE-2026-01","maxAllowedErrors":2,"observations":"Configuración principal de la serie.","components":[{"id":"550e8400-e29b-41d4-a716-446655440210","type":{"id":"550e8400-e29b-41d4-a716-446655440211","type":"PROJECTILE","label":"Proyectil"},"denomination":{"id":"550e8400-e29b-41d4-a716-446655440212","name":"M107 HE"},"batch":"COMP-LOT-01","clientNumber":25,"observations":"Componente validado.","maxAllowedErrors":1}],"assignedShotIds":["550e8400-e29b-41d4-a716-446655440101"]}]}]}},"MunitionConfigResponse":{"type":"object","properties":{"id":{"type":"string","description":"shootingSetId","format":"uuid"},"seriesId":{"type":"string","format":"uuid"},"denomination":{"$ref":"#/components/schemas/MunitionDenomination"},"batch":{"type":"string","description":"Lote"},"reconditioning":{"$ref":"#/components/schemas/ReconditioningData"},"maxAllowedErrors":{"type":"integer","description":"Nº máximo de fallos permitido"},"observations":{"type":"string"},"components":{"type":"array","items":{"$ref":"#/components/schemas/MunitionComponent"}},"assignedShotIds":{"type":"array","description":"shootingIds (null si aplica a toda la serie)","items":{"type":"string","format":"uuid"}}},"example":{"id":"550e8400-e29b-41d4-a716-446655440200","seriesId":"550e8400-e29b-41d4-a716-446655440100","denomination":{"id":"550e8400-e29b-41d4-a716-446655440212","name":"M107 HE"},"batch":"LOT-HE-2026-01","maxAllowedErrors":2,"observations":"Configuración principal de la serie.","components":[{"id":"550e8400-e29b-41d4-a716-446655440210","type":{"id":"550e8400-e29b-41d4-a716-446655440211","type":"PROJECTILE","label":"Proyectil"},"denomination":{"id":"550e8400-e29b-41d4-a716-446655440212","name":"M107 HE"},"batch":"COMP-LOT-01","clientNumber":25,"observations":"Componente validado.","maxAllowedErrors":1}],"assignedShotIds":["550e8400-e29b-41d4-a716-446655440101"]}},"MunitionConfigRequest":{"required":["denominationId","seriesId"],"type":"object","properties":{"seriesId":{"type":"string","format":"uuid"},"denominationId":{"type":"string","format":"uuid"},"batch":{"type":"string"},"observations":{"type":"string"},"reconditioning":{"$ref":"#/components/schemas/ReconditioningData"},"maxAllowedErrors":{"type":"integer","description":"Nº máximo de fallos permitido"},"components":{"type":"array","items":{"$ref":"#/components/schemas/MunitionComponentRequest"}},"assignedShotIds":{"type":"array","description":"shootingIds (null o vacío si aplica a toda la serie)","items":{"type":"string","format":"uuid"}}}},"MunitionBulkUpdateRequest":{"required":["configurations"],"type":"object","properties":{"units":{"$ref":"#/components/schemas/PlanningUnits"},"configurations":{"type":"array","items":{"$ref":"#/components/schemas/MunitionConfigRequest"}}},"example":{"units":{"temperature":"CELSIUS","time":"S"},"configurations":[{"seriesId":"550e8400-e29b-41d4-a716-446655440100","denominationId":"550e8400-e29b-41d4-a716-446655440212","batch":"LOT-HE-2026-01","observations":"Configuración principal de la serie.","maxAllowedErrors":2,"components":[{"typeId":"550e8400-e29b-41d4-a716-446655440211","denominationId":"550e8400-e29b-41d4-a716-446655440212","batch":"COMP-LOT-01","clientNumber":25,"observations":"Componente validado.","maxAllowedErrors":1}],"assignedShotIds":["550e8400-e29b-41d4-a716-446655440101"]}]}},"ReconditioningData":{"type":"object","properties":{"temperature":{"type":"number"},"tolerance":{"type":"number"},"timeMin":{"type":"integer"},"timeMax":{"type":"integer"},"observations":{"type":"string"}}},"MunitionComponent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/MunitionComponentType"},"denomination":{"$ref":"#/components/schemas/MunitionDenomination"},"batch":{"type":"string"},"reconditioning":{"$ref":"#/components/schemas/ReconditioningData"},"clientNumber":{"type":"integer"},"observations":{"type":"string"},"fuseWorkingMode":{"$ref":"#/components/schemas/FuseWorkingMode"},"fuseMeasurement":{"type":"number"},"maxAllowedErrors":{"type":"integer","description":"Nº máximo de fallos permitido en el componente"}},"example":{"id":"550e8400-e29b-41d4-a716-446655440210","type":{"id":"550e8400-e29b-41d4-a716-446655440211","type":"PROJECTILE","label":"Proyectil"},"denomination":{"id":"550e8400-e29b-41d4-a716-446655440212","name":"M107 HE"},"batch":"COMP-LOT-01","clientNumber":25,"observations":"Componente validado.","maxAllowedErrors":1}},"MunitionComponentRequest":{"required":["denominationId","typeId"],"type":"object","properties":{"typeId":{"type":"string","format":"uuid"},"denominationId":{"type":"string","format":"uuid"},"batch":{"type":"string"},"reconditioning":{"$ref":"#/components/schemas/ReconditioningData"},"clientNumber":{"type":"integer"},"observations":{"type":"string"},"fuseWorkingModeId":{"type":"string","format":"uuid"},"fuseMeasurement":{"type":"number"},"maxAllowedErrors":{"type":"integer","description":"Nº máximo de fallos permitido en el componente"}}},"MunitionComponentType":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","description":"Ej: PROJECTILE, FUZE..."},"label":{"type":"string","description":"Traducción"}}},"MunitionDenomination":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}}},"FuseWorkingMode":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","description":"Ej: INSTANT, DELAY..."},"label":{"type":"string"}}},"LoadingZoneItem":{"required":["caliber","denominationId","id","zone"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"denominationId":{"type":"string","description":"ID del tipo de carga de proyección","format":"uuid"},"zone":{"type":"array","description":"Lista de zonas de carga","items":{"type":"string"}},"caliber":{"type":"number","description":"Calibre asociado"},"observations":{"type":"string","description":"Observaciones adicionales"},"active":{"type":"boolean","default":true}}},"LoadingZoneListResponse":{"type":"object","properties":{"page":{"type":"integer","example":1},"pageSize":{"type":"integer","example":25},"totalElements":{"type":"integer","example":0},"items":{"type":"array","items":{"$ref":"#/components/schemas/LoadingZoneResponseItem"}}}},"LoadingZoneResponseItem":{"required":["caliber","denomination","id","zone"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"denomination":{"$ref":"#/components/schemas/MunitionDenomination"},"zone":{"type":"array","description":"Lista de zonas de carga","items":{"type":"string"}},"caliber":{"type":"number","description":"Calibre asociado"},"observations":{"type":"string","description":"Observaciones adicionales"},"active":{"type":"boolean","default":true}}},"LoadingZoneUpdateRequest":{"required":["caliber","denominationId","zone"],"type":"object","properties":{"denominationId":{"type":"string","description":"ID del tipo de carga de proyección","format":"uuid"},"zone":{"type":"array","description":"Lista de zonas de carga","items":{"type":"string"}},"caliber":{"type":"number","description":"Calibre asociado"},"observations":{"type":"string","description":"Observaciones adicionales"},"active":{"type":"boolean","default":true}}},"TrialArmamentResponse":{"required":["series"],"type":"object","properties":{"series":{"type":"array","items":{"required":["seriesId","seriesName","shots"],"type":"object","properties":{"seriesId":{"type":"string","format":"uuid"},"seriesName":{"type":"string"},"shots":{"type":"array","items":{"required":["shotId"],"type":"object","properties":{"shotId":{"type":"string","format":"uuid"},"armament":{"$ref":"#/components/schemas/ArmamentData"}}}}}}}}},"ArmamentBulkUpdateRequest":{"required":["shots"],"type":"object","properties":{"shots":{"type":"array","items":{"required":["shotId"],"type":"object","properties":{"shotId":{"type":"string","format":"uuid"},"weaponExternalId":{"type":"string","format":"uuid"},"tubeExternalId":{"type":"string","format":"uuid"},"isInstrumented":{"type":"boolean"},"lifeUsefulPercentage":{"type":"number","description":"Porcentaje de vida útil (editable manualmente si tubeExternalId es null)"},"observations":{"type":"string"}}}}}},"TrialMeasuresResponse":{"required":["series"],"type":"object","properties":{"series":{"type":"array","items":{"required":["measures","seriesId","seriesName"],"type":"object","properties":{"seriesId":{"type":"string","format":"uuid"},"seriesName":{"type":"string"},"measures":{"$ref":"#/components/schemas/SeriesMeasuresData"}}}}}},"SeriesMeasuresData":{"type":"object","properties":{"topographyMeasures":{"type":"array","items":{"$ref":"#/components/schemas/MeasureData"}},"munitionsMeasures":{"type":"array","items":{"$ref":"#/components/schemas/MeasureData"}},"armamentMeasures":{"type":"array","items":{"$ref":"#/components/schemas/MeasureData"}},"ballisticsMeasures":{"type":"array","items":{"$ref":"#/components/schemas/MeasureData"}}}},"MeasuresBulkUpdateRequest":{"required":["series"],"type":"object","properties":{"series":{"type":"array","items":{"required":["measures","seriesId"],"type":"object","properties":{"seriesId":{"type":"string","format":"uuid"},"measures":{"$ref":"#/components/schemas/SeriesMeasuresRequest"}}}}},"example":{"series":[{"seriesId":"550e8400-e29b-41d4-a716-446655440100","measures":{"topographyMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440040","minLimit":0.5,"maxLimit":2,"deviation":0.1},{"id":"550e8400-e29b-41d4-a716-446655440041","minLimit":1,"maxLimit":3.5,"deviation":0.2}],"munitionsMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440050","minLimit":0.1,"maxLimit":0.3,"deviation":0.01},{"id":"550e8400-e29b-41d4-a716-446655440051","minLimit":0.2,"maxLimit":0.4,"deviation":0.015}],"armamentMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440060","minLimit":10,"maxLimit":100,"deviation":5}],"ballisticsMeasures":[{"id":"550e8400-e29b-41d4-a716-446655440070","minLimit":50,"maxLimit":500,"deviation":10},{"id":"550e8400-e29b-41d4-a716-446655440071","minLimit":0,"maxLimit":1,"deviation":0.05}]}}]}},"SeriesMeasuresRequest":{"type":"object","properties":{"topographyMeasures":{"type":"array","items":{"$ref":"#/components/schemas/MeasureSelection"}},"munitionsMeasures":{"type":"array","items":{"$ref":"#/components/schemas/MeasureSelection"}},"armamentMeasures":{"type":"array","items":{"$ref":"#/components/schemas/Measur
[...]
