// Componente: Textareas globales (Angular Material form-field)
@layer components {
  html body .mat-mdc-form-field.mat-form-field-appearance-outline {
    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      ) {
      @apply rounded-lg;
      --mat-form-field-container-shape: 8px !important;
      --mat-form-field-container-vertical-padding: 10px;
      height: auto;
      max-height: none;
      border-radius: 8px !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      )
      .mat-mdc-form-field-flex {
      height: auto;
      max-height: none;
      border-radius: 8px !important;
      align-items: flex-start;
    }

    &:not(.mat-form-field-disabled)
      .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      ),
    &:not(.mat-form-field-disabled)
      .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      )
      .mat-mdc-form-field-flex {
      @apply bg-white;
      background-color: var(--inta-ui-surface-default);
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      )
      .mat-mdc-form-field-infix {
      min-height: 96px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      )
      .mdc-notched-outline__leading {
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      )
      .mdc-notched-outline__trailing {
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      )
      textarea.mat-mdc-form-field-textarea-control {
      @apply text-base text-gray-900;
      min-height: 96px;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined:has(
        textarea.mat-mdc-form-field-textarea-control
      )
      textarea.mat-mdc-form-field-textarea-control::placeholder {
      @apply text-base text-gray-500;
      opacity: 1;
    }
  }
}
